/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: BebasNeue;
    src: url("../font/BebasNeue Bold.ttf");
}

body {
    height: 100%;
    background-color: #222;
}

.fixd {
    position: fixed !important;
}

figure {
    -webkit-box-shadow: -7px -7px 9px -6px rgba(0,0,0,0.7);
    -moz-box-shadow: -7px -7px 9px -6px rgba(0,0,0,0.7);
    box-shadow: -7px -7px 9px -6px rgba(0,0,0,0.7);
}

#Home {
    padding-top: 150px;
}

#About {
    padding-top: 75px;
    background: #3498db;
    color: #333;
    position: relative;
}

#Portfolio {
    padding-top: 75px;
    background: #f39c12;
    position: relative;
}

#Contact {
    padding-top: 75px;
    background: #27ae60;
    position: relative;
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.navbar-logo {
    border-radius: 5px 20px 5px;
    border: 1px solid white;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 33px !important;
    float:left;
    padding: 15px 5px 0px 4px;
    line-height: 20px;
    height: 52px;
    width: 52px;
}

ul.nav {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}

nav {
    padding: 2px !important;
}

/* Fix minor Spacing on the side */
.row {
    margin-right: 0;
}

.fix {
    margin-right: -15px;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
  /*color: #bdc3c7;*/
}

.navbar-inverse .navbar-brand:hover {
  color: #bdc3c7;
  /*color: white;*/
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    color: #bdc3c7;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #bdc3c7;
    color: white;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #bdc3c7;
  color: white;
  background-color: transparent;
}

.green {
    color: #27ae60;
}

.blue {
    color: #3498db;
}

.orange {
    color: #f39c12;

}

.white {
    color: #ffffff;
}

.yellow {
    color: #f1c40f;
}

.me {
    width: 300px;
    height: 460px;
    position: absolute;
    bottom: -705px;
}

.header {
    /*padding-top: 50px;*/
    font-family: 'BebasNeue', sans-serif;
    font-size: 60px;
    /*text-decoration: underline;*/
}

#Portfolio div div div h1 {
    margin-bottom: -30px;
}

.modal-header {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.content {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 400;
}

.content-modal {
    font-size: 18px;
    padding: 15px;
    /*padding-left: 15px;
    padding-right: 15px;*/
}

.fa-envelope-o, .fa-github-square, .fa-linkedin-square {
    color: #333 !important;
    margin-right: 10px;
}

.fa-envelope-o:hover {
    color: #f39c12 !important;
}

.fa-linkedin-square:hover {
    color: #f1c40f !important;
}

.fa-github-square:hover {
    color: #27ae60 !important;
}

a.back-to-top {
    display: none;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: rgba(0, 0, 0, .5) url("../img/arrow.png") no-repeat center 43%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wide {
    width: 100%;
}

input, input:focus {
    padding: 12px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(51, 51, 51, 1);
    outline: 0;
    font-size: 18px;
}

textarea, textarea:focus {
    padding: 12px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(51, 51, 51, 1);
    outline: 0;
    font-size: 14px;
    resize: none;
    overflow-y: scroll;
}

input:focus, textarea:focus {
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(51, 51, 51, 1);
}

.submit, .submit:focus {
    border: none;
    border-bottom: 2px solid rgba(51, 51, 51, 1);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 12px;
    padding-bottom: 10px;
    color: rgba(51, 51, 51, 1);
    width: 100%;
    outline: 0;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    -webkit-box-shadow: 0px -7px 9px -7px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px -7px 9px -7px rgba(0,0,0,0.7);
    box-shadow: 0px -7px 9px -7px rgba(0,0,0,0.7);
}

.submit:hover {
    -webkit-box-shadow: 0px -3px 5px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px -3px 5px -3px rgba(0,0,0,0.7);
    box-shadow: 0px -3px 5px -3px rgba(0,0,0,0.7);
}

.submit:active {
    -webkit-box-shadow: inset 0px 7px 10px -6px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0px 7px 10px -6px rgba(0,0,0,0.7);
    box-shadow: inset 0px 7px 10px -6px rgba(0,0,0,0.7);
}

.submit:focus {
    padding-bottom: 8px;
    border-bottom-width: 4px;
}


.error {
    padding: 10px;
    border: 2px solid rgba(241, 196, 15,1.0);
}

::-webkit-input-placeholder {
    color: rgba(51, 51, 51, .5);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(51, 51, 51, .5);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(51, 51, 51, .5);  
}

:-ms-input-placeholder {  
   color: rgba(51, 51, 51, .5);  
}

.footer{
    background-color: #222;
    font-size: 16px;
    color: white;
    padding-top: 10px;
}

.notifyjs-bootstrap-error {
    background-image: none !important;
    padding: 8px 15px 8px 15px !important;
    border-radius: 0 !important;
}

@media(min-width:767px) {
    .under {
        font-family: "BebasNeue", sans-serif;
        font-size: 100px;
        color: #bdc3c7;
        padding-left: 30px; 
    }

    .transparent {
        background-color: rgba(0, 0, 0, 0.2) !important;
        /*border-bottom: 1px solid white;*/
        border: none;
        padding: 10px !important;
    }

    .toggle-drop {
        font-size: 20px !important;
    }

    .navbar {
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .navbar-brand {
        font-family: 'Oswald', sans-serif;
        font-size: 40px !important;
        padding-left: 25px;
    }

    ul.nav {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
    }
}

    a:focus {
        outline: 0;
    }
/*For Testing*/
/** {
    border: 1px solid red !important;
}*/


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}